body,
.site-container,
#root {
  min-height: 100vh;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-nav {
  left: 0;
}

.active-cont {
  margin-left: 240px;
}

.card-img-top {
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
